* {
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face {
    font-family: 'inter';
    src: url(Inter/Inter-VariableFont_slnt\,wght.ttf);
}

/* barra para se localizar */
.header {
    width: 99vw;
    height: 91px;
    background-color: #008374;
    flex-direction: row;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 3;
}

/* ---- */
.titulo {
    margin-left: 110px;
    margin-right: 780px;
    font: 700 32px 'inter';
    color: white;
}

#font {
    font: 400 24px 'inter';
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

/* parte onde tem a mulher */
.foco {
    background-color: #23a092;
    width: 99vw;
    height: 90vh;
    align-items: center;
    display: flex;
    justify-content: center;

}

.muler {
    width: 1500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

#foco {
    font: 700 32px 'inter';
    color: white;
}

#foco2 {
    font: 400 28px 'inter';
    color: white;
}

.quadrados {
    width: 99vw;
    height: 57vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    justify-content: space-around;
    z-index: 1;
}

#quadra {
    width: 230px;
    height: 205px;
    background-color: white;
    border: 1px solid black;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

/* primeiro quadrado da fileira */
.prime {
    margin-left: 100px;
}

/* ---- */
/* ultimo quadrado da fileira */
.ulti {
    margin-right: 100px;
}

/* ----- */
/* editor dos textos e icones dos quadrados */
#icon {
    margin-top: 20px;
}

#text {
    font: 500 18px 'inter';
    margin-bottom: 20px;
}

/* ---- */
/* parte dos planos crystal */
.plan {
    font: 500 30px 'inter';
}

.planos {
    height: 500px;
    align-items: end;
    display: flex;
    justify-content: center;
}

.lorem {
    font: 400 24px 'inter';
}

.orga {
    display: flex;
    justify-content: start;
    width: 900px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.price {
    width: 98vw;
    height: 700px;
    display: flex;
    justify-content: start;
    justify-content: space-around;
    flex-direction: row;
}

#retan {
    width: 500px;
    height: 600px;
    background-color: #bebdbd;
}

.retan1 {
    margin-left: 150px;
}

.retan2 {
    margin-right: 150px;
}